
@{
    ViewBag.Title = "AboutUS";
}


<link href="~/Content/team.css" rel="stylesheet" />



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<h4 style="text-align:center;text-decoration:underline;">About Us</h4>

<section>
    <div class="container">
        <div class="row">



            <!--Profile Card 1-->
            <div class="col-md-4">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/Images/yusha.jpg" alt="Yusha Abdullah" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Yusha Abdullah<small>Founder, CEO</small></h3>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
                
            </div>

            <!--Profile Card 2-->
            <div class="col-md-4">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/Images/hasan.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Hasan Mahmud<small>CFO</small></h3>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>
                
            </div>


            <!--Profile Card 3-->
            <div class="col-md-4">
                <div class="card profile-card-3">
                    <div class="background-block">
                        <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background" />
                    </div>
                    <div class="profile-thumb-block">
                        <img src="~/Images/jim.jpg" alt="profile-image" class="profile" />
                    </div>
                    <div class="card-content">
                        <h2>
                            Minhajul Islam<small>CTO</small></h3>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
</div>
                </div>
                
            </div>



        </div>
    </div>
</section>


<div class="container-fluid">
    <p>
        With a perfect blend of experience and passion, Saga Event is an event management company in Bangladesh.
        We’ve emerged as a company with ideas to turn your corporate or personal event into something worth remembering.
        With the help of our creative team, we provide our services to various types of corporate events
        and also strive to make your wedding events, birthday events and other personal events unforgettable.
        We hope you will like our arrangement and support us to grow even a bigger company.
        It will encourage us to do better work in future.
    </p>
</div>

