* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.topbar {
    position: fixed;
    background-color: #151D3B;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}


.logo h3 {
    color: #fff;
}








.user {
    position: inherit;
    width: 50px;
    height: 50px;
    justify-self: right;
}


/* sidebar */

.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #299B63;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

    .sidebar ul {
        margin-top: 20px;
    }

        .sidebar ul li {
            width: 100%;
            list-style: none;
        }

            .sidebar ul li:hover {
                background: #fff;
            }

                .sidebar ul li:hover a {
                    color: #299B63;
                }

            .sidebar ul li a {
                width: 100%;
                text-decoration: none;
                color: #fff;
                height: 60px;
                display: flex;
                align-items: center;
            }

                .sidebar ul li a i {
                    min-width: 60px;
                    font-size: 24px;
                    text-align: center;
                }


/* main */

.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 260px);
    min-height: calc(100vh - 60px);
    left: 260px;
    background: #f5f5f5;
}

table, th,td {
    border: 1px solid black;
    padding: 0px;
}

table {
    border-spacing: 25px;
}

.icon-box i {
    font-size: 45px;
    color: #299b63;
}
.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 178px;
    padding-top: 0;
}

.chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
}

    .chart h2 {
        margin-bottom: 5px;
        font-size: 20px;
        color: #666;
        text-align: center
    }

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }

    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}

/* charts */

.charts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}






/*body {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: 'Arial';
}*/

.login {
    width: 450px;
    position:inherit;
    overflow: hidden;
    margin: auto;
    
    padding: 80px;
    background: white;
    border-radius: 115px;
}

h2 {
    text-align: center;
    color: #277582;
    padding: 20px;
}

/*label {
    color: #08ffd1;
    font-size: 17px;
}*/

#Uname {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    margin-top: 10px;
}

#Pass {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
    margin-top: 10px;
}

#contact {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#email {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log {
    width: 300px;
    height: 30px;
    border: none;
    margin-top: 10px;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}

span {
    color: white;
    font-size: 17px;
}

/*a {
    float: right;
    background-color: grey;
}
*/